* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  border-radius: 50% 0 0 50%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}

._flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
}

.m_container {
  width: 60%;
  margin: 0 auto;
}

#slideBackground {
  background-image: url(../images/dangchapthucung2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  transition: 3s;
}

/* .fadeBackground {
    animation: fadeBackground 1s ease-in 1 forwards;
  } */

/* @keyframes fadeBackground {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */

#slideBackground > div {
  /* background-color: rgba(0, 0, 0, 0.4); */
  width: 100%;
  height: inherit;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

#slideBackground .m_container {
  width: 80%;
  height: 100%;
}

.head {
  text-align: end;
}
.head i {
  color: white;
  font-size: 25px;
  padding: 0px 11px 0px 8px;
  margin: 20px 0px;
  border-right: 2px solid #717171;
}

.navBar {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  position: relative;
  top: 0;
  left: 0;
}

.navBar .left {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  align-self: center;
  position: relative;
}

.navBar .left::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  transition: all 0.5s;
  bottom: -5%;
  left: 0;
}

.navBar .right {
  display: flex;
  list-style-type: none;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.2); */
}
.navBar a {
  text-decoration: none;
  color: inherit;
}

.navBar ul li {
  padding: 0px 25px 10px;
  /* margin: 0px 25px; */
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.navBar > ul > li::after {
  position: absolute;
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  transition: all 0.5s;
  bottom: -5%;
  left: 0;
  box-shadow: 0 0 10px #fbbd61;
}
.navBar > ul > li:focus-within:after,
.navBar > ul > li:hover::after {
  width: 100%;
}

.fixedNav {
  background-color: #171717;
  padding: 0px 200px;
  width: 100%;
  height: 0px;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}
.showNav {
  animation: showNav 0.3s ease-in 1 forwards;
}
.hideNav {
  animation: hideNav 0.3s ease-in 1 forwards;
}
@keyframes showNav {
  from {
    height: 0;
  }
  to {
    height: 69px;
  }
}
@keyframes hideNav {
  from {
    height: 69px;
  }
  to {
    height: 0px;
  }
}
.fixedNav .right {
  margin: 0;
}

.fixedNav ul li {
  padding: 20px 25px;
  margin-bottom: 2px;
}
.fixedNav .left {
  font-size: 40px;
}

#slideBackground .movie {
  position: relative;
  width: 80%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#slideBackground .item {
  color: white;
  max-width: 60%;
  display: none;
}

#slideBackground .activeItem {
  display: block;
  transition: 3s all;
  animation: fadeItem 2s ease-in-out 1 forwards;
}

@keyframes fadeItem {
  from {
    transform: translateX(-15%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

#slideBackground .genre {
  text-transform: uppercase;
  font-size: 30px;
  color: #ec7532;
  margin: 5px 0px;
}

#slideBackground .movie button {
  padding: 19px 25px;
  border-radius: 30px;
  border: none;
  letter-spacing: 4px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  color: white;
  cursor: pointer;
  outline: none;
  margin-top: 5px;
}

#slideBackground .name {
  font-size: 50px;
  margin: 10px 0px 0px;
}
#slideBackground p {
  font-size: 20px;

  word-spacing: 3px;
  line-height: 30px;
}

#slideBackground .dotSlides {
  color: white;
  width: 60%;
  /* margin-top: 100px; */
  position: absolute;
  top: 75%;
}

#slideBackground .dotSlides i {
  font-size: 13px;
  margin: 0px 5px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#slideBackground .activeDot {
  font-weight: bold;
}

.booking .chooseMovie label {
  padding-top: 15px;
  min-width: 200px;
}

.booking {
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 100px 0px;
}

.booking > h3 {
  font-size: 20px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
  position: relative;
  margin: 0;
  padding-bottom: 1px;
  border-bottom: 1px groove black;
}

.booking h3::after {
  position: absolute;
  right: auto;
  top: 97%;
  display: block;
  height: 4px;
  content: "";
  width: 150px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.booking .chooseMovie {
  margin-top: 50px;
  font-size: 20px;
  padding: 0px 20px;
  position: relative;
}

.booking .chooseMovie .selectGroup {
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
}

.booking .chooseMovie .selectGroup .optionChosen {
  min-width: 100%;
  margin-left: 10px;
  padding: 10px 15px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(234, 234, 234);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.booking .chooseMovie .selectGroup .optionChosen:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.booking .chooseMovie .selectGroup .optionChosen i {
  transition: 0.5s all;
}

.booking .chooseMovie .selectGroup:hover .optionChosen i {
  transform: rotateX(180deg);
}
/* .iconRotate {
  transform: rotateX(180deg);
} */
.booking .chooseMovie .selectGroup > div {
  position: relative;
  min-width: 300px;
}
.booking .chooseMovie .selectGroup .optionGroup {
  margin-left: 10px;
  border: 1px solid rgb(234, 234, 234);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  transition: 1s;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.booking .chooseMovie .selectGroup:hover .optionGroup {
  max-height: 999px;
}

.booking .chooseMovie .selectGroup .optionGroup > div:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.booking .chooseMovie .selectGroup .optionGroup .option {
  padding: 10px 15px;
}

.booking .chooseMovie .selectDay {
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
}

.booking .chooseMovie .selectDay .groupDay {
  display: flex;
  padding-top: 15px;
}

.booking .chooseMovie .selectDay .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  cursor: pointer;
  transition: 0.3s all;
}

.dayActive,
.booking .chooseMovie .selectDay .day:hover {
  color: #ec7532;
}
.booking .chooseMovie .selectTime {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.booking .chooseMovie .selectTime .groupTime {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  position: absolute;
  left: 200px;
  max-width: 0;
  overflow: hidden;
  max-height: 50px;
}
.booking .chooseMovie .selectTime .showGroupTime {
  max-width: 999px;
  transition: 3s all;
}

.booking .chooseMovie .selectTime .groupTime .time {
  padding: 10px 15px;
  border-radius: 5px;
  color: #717171;
  background-color: #d8d8d8;
  cursor: pointer;
  margin: 5px;
}

.booking .chooseMovie .selectTime .groupTime .hide {
  opacity: 0.5;
  cursor: not-allowed;
}
.booking .chooseMovie .selectTime .groupTime .activeTime {
  color: white;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.booking .chooseMovie .selectSeat {
  display: flex;
  margin-top: 70px;
}
.booking .chooseMovie .selectSeat .container {
  width: 100%;
}
.booking .chooseMovie .selectSeat .containerRow {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.booking .chooseMovie .selectSeat .containerRow label {
  padding: 0;
  left: -60px;
  position: absolute;
  min-width: 22px;
  min-height: 22px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  transform: translateY(-1px);
  background-color: #d8d8d8;
}

.booking .chooseMovie .selectSeat .containerRow .row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.booking .chooseMovie .selectSeat .containerRow .row .right,
.booking .chooseMovie .selectSeat .containerRow .row .left {
  min-width: 16%;
}

.booking .chooseMovie .selectSeat .containerRow .row .center {
  min-width: 32%;
}
.booking .chooseMovie .selectSeat .containerRow .row .right,
.booking .chooseMovie .selectSeat .containerRow .row .left,
.booking .chooseMovie .selectSeat .containerRow .row .center {
  display: flex;
  justify-content: space-around;
}

.booking .chooseMovie .selectSeat .symbol i,
.booking .chooseMovie .selectSeat .containerRow .row i {
  color: #564f4f;
  transform: scaleX(0.9) translateY(0);
  cursor: pointer;
  transition: 0.4s all;
  margin: 0px 2px;
}

.booking .chooseMovie .selectSeat .containerRow .row i:hover {
  transform: translateY(-4px);
}

.booking .chooseMovie .selectSeat .symbol i.booked,
.booking .chooseMovie .selectSeat .containerRow .row i.booked:hover,
.booking .chooseMovie .selectSeat .containerRow .row i.booked {
  color: #d8d8d8 !important;
  cursor: not-allowed !important;
  transform: scaleX(0.9) !important;
  transition: none !important;
}

.booking .chooseMovie .selectSeat .symbol i.couple,
.booking .chooseMovie .selectSeat .containerRow .row i.couple {
  transform: scaleX(1.8) !important;
}
.booking .chooseMovie .selectSeat .containerRow .row i.couple:hover {
  transform: scaleX(1.8) translateY(-4px) !important;
}

.booking .chooseMovie .selectSeat .symbol i.vip,
.booking .chooseMovie .selectSeat .containerRow .row i.vip {
  color: #b51210 !important;
}
.booking .chooseMovie .selectSeat .symbol {
  display: flex;
  justify-content: center;
}

.booking .chooseMovie .selectSeat .symbol i.myBooking,
.booking .chooseMovie .selectSeat .containerRow .row i.myBooking {
  color: #ec7532 !important;
}

.booking .chooseMovie .selectSeat .symbol > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 15px;
}
.booking .chooseMovie .selectSeat .symbol > div > i {
  font-size: 20px;
  margin-bottom: 5px;
}

.booking .chooseMovie .selectSeat .screen {
  text-align: center;
}
.booking .chooseMovie .selectSeat .screen i {
  font-size: 100px;
  transform: rotateX(45deg);
  color: #564f4f;
}

.booking .chooseMovie .selectSeat .stickyRight {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 32%;
}
.booking .chooseMovie .selectSeat .info {
  position: sticky;
  top: 100px;
  padding: 15px 10px;
  border-radius: 5px;
  border-right: 3px solid #ec7532;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
}

.booking .chooseMovie .selectSeat .info button {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: none;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
}
.booking .chooseMovie .selectSeat .info .group {
  display: flex;
  margin-bottom: 15px;
}
.booking .chooseMovie .selectSeat .info .group label {
  padding-top: 0;
  min-width: 120px;
}

footer {
  background-color: black;
  display: flex;
  padding: 50px 0px;
}

footer h2 {
  font-size: 23px;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ec7532;
  border: none;
}

footer > ul {
  display: flex;
  width: 70% !important;
  margin: 0 auto;
}

footer ul {
  list-style-type: none;
  color: white;
  padding: 0;

  /* display: flex; */
}

footer > ul > li {
  width: 25%;
  margin-right: 20px;
}

footer li > ul > li {
  width: 100%;
  margin: 20px 0px;
}

.showVideo {
  background-color: rgba(0, 0, 0, 0.79);
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -10;
  justify-content: center;
  align-items: center;
  display: block;
  overflow: hidden;
}

.activeShowVideo {
  display: flex;
  width: 100%;
  z-index: 999 !important;
}

.showVideo > iframe {
  width: 1024px;
  height: 768px;
}

/* ANIMATION */
@keyframes tingting {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes a_showMovieWeek {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes a_hideMovieWeek {
  from {
    /* transform: translateX(0); */
    opacity: 1;
  }
  to {
    opacity: 0;
    /* transform: translateX(+25%); */
  }
}
